<form method="POST">
{{ form.hidden_tag() }}

<div class="form-group">
    {{ form.title.label(class="form-control-label") }}
    {% if form.title.errors %}
        {{ form.title(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.title.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
        {{ form.title(class="form-control form-control-lg") }}
    {% endif %}
</form>