<!DOCTYPE html>
<html>
<head>
    <title>Flask Blog</title>
</head>

<body>
    <h1>Flask Blog</h1>
    <p>Welcome to the Flask Blog</p>

    <!--get session data-->
    <h2>Session</h2>
    <p>{{ session['name'] }}</p>
    <p>{{ session['age'] }}</p>

    if session['name'] == 'admin':
    <p>You are an admin</p>
    else:
    <p>You are not an admin</p>


    <h2>Posts</h2>
    {% for post in posts %}
    <div>
        <h3>{{ post.title }}</h3>
        <p>By {{ post.author }} on {{ post.date_posted }}</p>
        <p>{{ post.content }}</p>
    </div>
    {% endfor %}

    <!-- display g object data-->
    <h2>Google</h2>
    <p>{{ g.name }}</p>
    <p>{{ g.age }}</p>

    <!-- display flashed messages-->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul>
        {% for category, message in messages %}
        <li>{{ category }}: {{ message }}</li>
        {% endfor %}
        
    </ul>
    {% endif %}
    {% endwith %}
</body>
</html>